[Unit]
Description=Мониторинг процессов sngrep и их завершение через 5 минут
After=network.target

[Service]
ExecStart=/usr/bin/python3 /root/script_quit_sngrep/main.py
Restart=always
User=root

[Install]
WantedBy=multi-user.target